<!-- Word -->
<div class="p-3">
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title" [title]="vocab.description">{{vocab.word}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!--  Comments -->

  <div>
    <div class="row-cols-6">
      <button (click)="addCommentRow()">+</button>
      <button *ngIf="commentRow" (click)="deleteCommentRow()">-</button>
      <h5> Comments </h5>
    </div>
    <div>
      <form [formGroup]="newCommentFormGroup">
        <div *ngIf="commentRow" class="modal-content">
          <textarea
            type="text"
            placeholder="Write a comment"
            formControlName="comment"
            class="p-2"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="modal-content p-2" *ngFor="let comment of comments">
      <p>{{comment.comment}}</p>
    </div>
  </div>
</div>
</div>
