
<div class="card" style="width: 15rem;">
  <div class="card-header">
    {{title}}
  </div>
  <card *ngFor="let vocab of allVocabulary" [word]="vocab.word"></card>
</div>
<!--
<div class="card" style="width: 15rem;">
  <div class="card-header">
    Featured
  </div>
  <card></card>
</div>

<div class="card" style="width: 15rem;">
  <div class="card-header">
    Featured
  </div>
  <card></card>
</div>

<div class="card" style="width: 15rem;">
  <div class="card-header">
    Featured
  </div>
  <card></card>
</div>

<div class="card" style="width: 15rem;">
  <div class="card-header">
    Featured
  </div>
  <card></card>
</div>

-->
