
<div class="container">

  <div class="row">

<!--  Columns in progress -->
    <div
      class="col-sm-3">
      <div class="card-header">
        Columns
      </div>
      <card-column
        *ngFor="let column of columns; let i = index"
        [column]="column"
        [isArrowRightSide]="true"
        [index]="i">
      </card-column>
    </div>

<!--  Selected columns to practice -->
    <div class="col-sm-3">

      <div class="card-header">
          To Practice
        </div>
        <card-column
          *ngFor="let column of columnsToPractice; let i = index"
          [column]="column"
          [isArrowRightSide]="false"
          [index]="i">
        </card-column>
    </div>

<!--  Actions  -->
    <div class="col-sm-3">
      <div class="my-1">
        <button
          [disabled]="columnsToPractice.length == 0"
          (click)="practiceColumns(columnsToPractice)"
          class="btn btn-secondary w-100">
           Practice selected columns

        </button>
      </div>
        <button
          [disabled]="columns.concat(columnsToPractice).length == 0"
          (click)="practiceColumns(columns.concat(columnsToPractice))"
          class="btn btn-secondary w-100">
            Practice all columns
        </button>

    </div>

</div>
