<div class="container">
    <div class="row">
        <div class="col-xs-12">            
            <div class="custom-control custom-switch mb-2 ml-3">
                <input type="checkbox" class="custom-control-input" id="sendData" value="true">
                <label class="custom-control-label" for="sendData">Send data to metrics</label>
            </div>
            <div>
                <button type="button" class="btn btn-success" (click)="moveVocabulariesToNextColumn()">Move vocabularies to the next sprint</button>
            </div>
        </div>
    </div>
</div>